# --- Core ---
Django==5.1.2
django-environ==0.10.0
dj-database-url==2.3.0
whitenoise==6.7.0          # serve static files in prod


# --- Server (if deploying to Linux) ---
gunicorn==21.2.0
requests==2.32.3